
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sacramento&display=swap');

@font-face{
    font-family:'JetBrains Mono';
    src:url('../font/jetbrainsmono/JetBrainsMono-Regular.ttf');
    src:url('../font/jetbrainsmono/JetBrainsMono-Bold.woff') format('woff'),
    url('../font/jetbrainsmono/JetBrainsMono-Regular.ttf') format('truetype'),
    url('../font/jetbrainsmono/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style:italic;

}



code{
    white-space: pre;
    font-family:"JetBrains Mono",Consolas,monospace;
    color:greenyellow;
  

}
/* defining a animation*/
@keyframes my-animation{/*we get to define at which point in an animation changes occur*/
    0%{
        transform:scale(1);/*what change should change at this point in the animation*/

    }
    50%{
        transform: scale(1.2);

    }
    75%{
        transform: scale(1.5);
    }
    100%
    {
        transform: scale(1);
    }
}
*{/*Basic browser reset*/
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-size:16px;


}
body{
background-image:url(../img/bg-landscape.jpg);
background-size: cover;/*cover the whole element*/
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

article{
    width: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding:16px;
}

p{
    font-family:  Helvetica,Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:rgb(33,33,33);
    background-color:lightcyan;
    margin-bottom:16px;
}

#float-practice{
    float:right;
    margin-top:0;
    margin-right:16px;
    margin-bottom:16px;
    margin-left:0;
    /*margin:0 16 16 0;*/

}
#z-index-practice{/*visual layering think photoshop which element should appear on top*/
    display:block;
    position:absolute;
    top:300px;
    right:0;
    left:0;
    margin:auto;
    z-index:-1;

}
h1,h2,h4,h5,h6{
    font-size:32px;
    font-family: "Great Vibes",Georgia, serif;
    padding-top:16px;
    color:rgb(231, 105, 32);
}
h1{
    text-align: center;
    padding-top:50px;
}
h2{
    font-family: 'Great Vibes','Comic sans','cursive';
    font-size:26px;
    color:rgb(231, 105, 32);
}
    
    


h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}
 nav{
     width:auto;
     max-width: 500px;
     background-color: salmon;
     margin:0 auto;/*margin top/bottom(16px) then right left is auto*/

     position: fixed;
     top:0;
     right:0;
     bottom:auto;
     left:0;
     z-index:4;
     
 }
 nav ul{
     text-align: center;
     padding:0;
 }

 nav ul li 
 {
     display:inline-block;
 }

 nav ul li a
{
    text-decoration: none;/*Disable the underline*/
    display:inline-block;
    padding:16px 32px ;

}

nav ul li a:hover,nav ul li a:focus,nav ul li a:active{
    background-color: rgb(50,50,50);
    color:rgb(231, 105, 32);
}


/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }




  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

  .hide-me{
      list-style: none;
      height:0;
  }
  .overflow-hidden{
      overflow:hidden;
      height:100px;

  }

  .overflow-visible{
      overflow:visible;
      height:100px;
  }

  .overflow-scroll{
    overflow:scroll;
    height:100px;
}

#background-bullets ,
#image-bullets{
    list-style: none;
    margin:16px auto;
    padding :16px 16px 16px

}

#background-bullets li{
    background-image:url("../img/list.png");
    background-repeat: no-repeat;
    background-size:32px;
    background-position:top-left ;
    padding:8px 8px 8px 64px;
    color:rgb(231, 105, 32);

}

#image-bullets li{
    position:relative;
    padding:8px 8px 8px 64px;
    color:rgb(231, 105, 32);


}
#image-bullets li img{
    position:absolute;
    
    top:0;
    left:0;
    width:32px;
    height:32px;
    

}


.gradient-bg {
    height: 300px;
    opacity: 0.75;
    margin-top: 50px;
    /* Gradient generated at https://CSSGradient.IO */
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 15%, rgba(9,9,121,1) 26%, rgba(9,15,125,1) 28%, rgba(39,255,0,1) 40%, rgba(6,78,166,1) 51%, rgba(202,4,191,1) 63%, rgba(255,214,0,1) 84%, rgba(0,212,255,1) 100%); 
    box-shadow: 32px 32px 0 0 rgba( 0, 0, 0, 1 );
}

.speech-bubble {
    background: rgba( 255, 255, 255, 0.95 );
    border-radius: 1.5em;
    border-bottom-right-radius: 0;
    max-width: 300px;
    padding: 1.5em;
    color: rgba( 33, 33, 33, 1 );
    margin-top: 75px;
    position: relative;
}

.speech-bubble::after { /* DOUBLE colon is a PSEUDO ELEMENT. This is a fake element... keep in mind its content cannot be read by screen-readers or search engines --> ONLY use it for PURELY visual text with no importance/meaning. */
    /* Pseudo-elements require the "content" property. */
    content: '';
    /* Start triangle--> */
    display: block;
    width: 0;
    height: 0;
    box-sizing: content-box;
    border-top: 0 solid transparent;
    border-right: 32px solid rgba( 255, 255, 255, 0.95 );
    border-bottom: 32px solid transparent;
    border-left: 0 solid transparent;
    /* <--End triangle. */
    /* Position it at the bottom right corner: */
    position: absolute;
    top: 100%;
    right: 0;
}


.video-section{
    position: relative;
    overflow: hidden;

}
.video-section > * {
    position: relative;
    z-index: 3;
}

.video-section p{
    background: none;
}
.video-section video{
    position:absolute;
    /*top:0;*/
    right:0;
    bottom:0;
    /*left:0;*/
    width:150%;
    height:auto;
    z-index:1;
}

.video-section::before{
    content:'';
    display:block;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
    width:100%;
    height:100;
    background:rgba(255,255,255,0.33);
    z-index:2;
}

.transition-transform button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color:gray;
    background: lavenderblush;
    padding: 8px 16px;
    border:3px solid black;
    margin:32px;
    cursor: pointer;
    transition: 1s linear border,0.3s ease-in padding,0.5s ease-in-out background,2s ease color,4s ease font-size;

    

}


.transition-transform button:hover,
.transition-transform button:focus,
.transition-transform button:active{
    color: lavenderblush;
    font-size: 16px;
    background: gray;
    padding :12px 20px;
    border:6px dotted indigo;
    
}
.transition-transform button:nth-child(2)
{
    color: lightskyblue;
    background-color: crimson;

}
.transition-transform button:nth-child(3)
{   
    color:lightpink;
    background-color: darkmagenta;
}

/* transform hover*/
.transition-transform div{
    display: inline-block;
    padding: 8px 16px;
    background-color: coral;
    cursor: pointer;
    transition: 1s ease transform;
}

.transition-transform div +div{
    background-color: coral;
    pointer-events: none;
}
.transition-transform div:hover + div{
    transform:
    translate(100px,-50px)
    rotate(35deg)
    scale(2);
    


}

#keyframe-test{
    width: 100px;
    height: 100px;
    border-style: solid;
    background-color: firebrick;
    margin: 64px;
    border-radius: 100px;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;


}
footer h2{
    text-align: center;
}
#social-media-links{
    list-style: none;
    text-align: center;
}

#social-media-links >li{/* > direct child selection*/
    display:inline-block;
    margin:8px;



}

#social-media-links .fab{
    color:rgba(231, 105, 32,1);
  font-size:32px;
}

#social-media-links a:hover .fab,
#social-media-links a:focus .fab,
#social-media-links a:active .fab{
    color:rgba(231, 105, 32,0.5);
}


@media screen and (min-width:500px){


    body{
        background:greenyellow;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 26px;
    }
}

@media screen and (min-width:1024px){


    body{
        background:greenyellow;
    }
    h1{
        font-size: 64px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 28px;
    }
}



