
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sacramento&display=swap');

@font-face{
    font-family:'JetBrains Mono';
    src:url('../font/jetbrainsmono/JetBrainsMono-Regular.ttf');
    src:url('../font/jetbrainsmono/JetBrainsMono-Bold.woff') format('woff'),
    url('../font/jetbrainsmono/JetBrainsMono-Regular.ttf') format('truetype'),
    url('../font/jetbrainsmono/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

code{
    white-space: pre;
    font-family:"JetBrains Mono",Consolas,monospace;
    color:greenyellow;
  

}
*{/*Basic browser reset*/
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-size:16px;


}
body{
background-image:url(../img/bg-landscape.jpg);
background-size: cover;/*cover the whole element*/
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

article{
    width: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding:16px;
}

p{
    font-family:  Helvetica,Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:rgb(33,33,33);
    background-color:lightcyan;
    margin-bottom=16px;
}

#float-practice{
    float:right;
    margin-top:0;
    margin-right:16px;
    margin-bottom:16px;
    margin-left:0;
    /*margin:0 16 16 0;*/

}
#z-index-practice{/*visual layering think photoshop which element should appear on top*/
    display:block;
    position:absolute;
    top:300px;
    right:0;
    left:0;
    margin:auto;
    z-index:-1;

}
h1,h2,h4,h5,h6{
    font-size:32px;
    font-family: "Great Vibes",Georgia, serif;
    padding-top:16px;
    color:rgba(28, 207, 28,1);
}
h1{
    text-align: center;
    padding-top:50px;
}
h2{
    font-family: 'Great Vibes','Comic sans','cursive';
    font-size:26px;
    color:rgb(28, 207, 28);
    
    
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}
 nav{
     width:auto;
     max-width: 500px;
     background-color: salmon;
     margin:0 auto;/*margin top/bottom(16px) then right left is auto*/

     position: fixed;
     top:0;
     right:0;
     bottom:auto;
     left:0;
     
 }
 nav ul{
     text-align: center;
     padding:0;
 }

 nav ul li 
 {
     display:inline-block;
 }

 nav ul li a
{
    text-decoration: none;/*Disable the underline*/
    display:inline-block;
    padding:16px 32px ;

}

nav ul li a:hover,nav ul li a:focus,nav ul li a:active{
    background-color: rgb(50,50,50);
    color:greenyellow;

}
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }




  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

  .hide-me{
      list-style: none;
      height:0;
  }
  .overflow-hidden{
      overflow:hidden;
      height:100px;

  }

  .overflow-visible{
      overflow:visible;
      height:100px;
  }

  .overflow-scroll{
    overflow:scroll;
    height:100px;
}

#background-bullets ,
#image-bullets{
    list-style: none;
    margin:16px auto;
    padding :16px 16px 16px

}

#background-bullets li{
    background-image:url("../img/list.png");
    background-repeat: no-repeat;
    background-size:32px;
    background-position:top-left ;
    padding:8px 8px 8px 64px;
    color:rgba(28, 207, 28,1);
}

#image-bullets li{
    position:relative;
    padding:8px 8px 8px 64px;
    color:rgba(28, 207, 28,1);

}
#image-bullets li img{
    position:absolute;
    
    top:0;
    left:0;
    width:32px;
    height:32px;
    

}

#social-media-links{
    list-style: none;
    text-align: center;
}

#social-media-links >li{/* > direct child selection*/
    display:inline-block;
    margin:8px;



}

#social-media-links .fab{
    color:rgba(28, 207, 28,1);
    font-size:32px;
}

#social-media-links a:hover .fab,
#social-media-links a:focus .fab,
#social-media-links a:active .fab{
    color:rgba(28, 207, 28,0.5);
}

@media screen and (min-width:1024px){


    body{
        background:greenyellow;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 26px;
    }
}

